// 引入字体
@font-face{
    font-family: 'Consolas';
    src:url('/Consolas.ttf') format('truetype');
}
// @font-face{  // 微软雅黑的字体太大，因此不提供
//     font-family: 'Microsoft YaHei';
//     src:url('/Microsoft YaHei.ttf') format('truetype');
// }
@font-face{
    font-family: 'mv boli';
    src:url('/MV-Boli.ttf') format('truetype');
}

html {
    background-color: #ebe6dd;    // 当body部分（即正文）过短时，就能看到这个背景色
}

body {
    background-color: #3d3961;    // 这个紫色的背景色，只是用于填充首页，正文部分会单独设置米色的背景色
    color: #2c3e50;
    font-family: 'Consolas', 'Microsoft YaHei', serif;
    font-size: 16px;
}

body .site-name {
    font-family: 'mv boli';
}

// 导航栏
body .navbar {                      
    background-color: #e0dbd2;
}
body .navbar div.links {
    background-color: #e0dbd2;
}
body .navbar div.links .nav-dropdown {
    background-color: #e0dbd2;
}

// 正文部分
body .page {                        
    background-color: #ebe6dd;
}


// 侧边栏
body .sidebar {                     
    background-color: #e0dbd2;
}
// 侧边栏的分组标题（不带链接时）
body .sidebar-heading {             
    font-weight: normal;
}
// 侧边栏中的箭头
.arrow.right {
    border-left-color: gray;
    opacity: 0.5;
}
.arrow.down {
    border-left-color: gray;
    opacity: 0.5;
}

// 右侧目录栏
.right-anchor {
    opacity: 0.8;
}


// MarkDown 文档中的表格
body td, th {
    border: 1px solid #a3a3a3;
}
// MarkDown 文档中的行内代码块
body .theme-default-content code {
    background-color: #dcd5ca;
    color: #2c3e50;
    font-family: 'Consolas', 'Microsoft YaHei', serif;
}
// MarkDown 文档中的代码块
body div[class*="language-"] {
    background-color: #3d3d3d;
}
// MarkDown 文档中的代码块
body div[class*="language-"] pre[class*="language-"] code {
    color: #d9d9d9;
    font-family: 'Consolas', 'Microsoft YaHei', serif;
}



// 自定义首页
.theme-container.homepage_class div {
    background-image: url(/cat.gif);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.theme-container.homepage_class #homepage_title {
    color: #f8f8f8;
    text-align: center;
    font-family: 'mv boli';
    font-size: 4em;
    font-weight: normal;
}
