// 本来打算引用该字体，但是没有找到合适的ttf文件
// @font-face{
//     font-family: 'mv boli';
//     src:url('/mvboli.ttf') format('truetype');
// }

html {background-color: #ebe6dd;}

body {
    font-family: 'Consolas', 'Microsoft YaHei', serif;
    font-size: 16px;
    color: #2c3e50;
}

body .site-name {
    font-family: 'mv boli';
}

body .navbar {
    background-color: #e0dbd2;
}

body .navbar div.links {
    background-color: #e0dbd2;
}

body .navbar div.links .nav-dropdown {
    background-color: #e0dbd2;
}

body .sidebar {
    background-color: #e0dbd2;
}

body .page {
    background-color: #ebe6dd;
}

body .page code {
    font-family: 'Consolas', 'Microsoft YaHei', serif;
    background-color: #e0dbd2;
    color: #2c3e50;
}

body div[class*="language-"] {
    background-color: #3d3d3d;
}

body div[class*="language-"] pre[class*="language-"] code {
    font-family: 'Consolas', 'Microsoft YaHei', serif;
    color: #d9d9d9;
}
