// 该文件用于设置一些 CSS 样式

// 引入字体
// Consolas 等宽字体，用于显示英文
@font-face{
  font-family: 'Consolas';
  src:url('/Consolas.ttf') format('truetype');
}
// 微软雅黑字体，用于显示中文。但该字体库有几十 MB ，太大了，因此不让用户下载。如果用户电脑上没安装，则采用默认的 serif 字体
// @font-face{
//     font-family: 'Microsoft YaHei';
//     src:url('/Microsoft YaHei.ttf') format('truetype');
// }
// MV-Boli 字体，用于显示网站标题
@font-face{
  font-family: 'mv boli';
  src:url('/MV-Boli.ttf') format('truetype');
}

// 导航栏、左侧边栏的背景颜色
.vp-navbar,
.vp-sidebar {
  background-color: #eeedd4;
}

// 右侧目录栏的背景颜色
#toc .toc-wrapper {
  background-color: #faf9e8;
}
// 右侧目录栏中，让标题加粗显示
#toc .toc-wrapper a.level1,
#toc .toc-wrapper a.level2 {
  font-weight: bold;
}
// 右侧目录栏中，顶端显示的提示词 “此页目录”
#toc .toc-header {
  font-size: 0.9rem;
  font-weight: normal;
  text-align: center;
}

// 每个页面默认显示的 title 不带锚点，因此改为显示带锚点的 h1 级标题
div.vp-page-title {
  display: none;
}
.theme-hope-content:not(.custom) > h1:first-child {
  display: block;
}

// markdown 代码块
#app {
  --code-bg-color: #3a3a3a;
}
.token.comment, .token.prolog, .token.cdata {
  color: #909090;
}

// 网页左上角显示的网站名称
.vp-site-name {
  font-family: 'mv boli';
}

// 配置首页
main.vp-project-home {
  background-color: #3d3961;
  background-image: url(/cat.gif);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
div.vp-hero-infos #main-title {
  color: #f8f8f8;
  text-align: center;
  font-family: 'mv boli';
  font-size: 4em;
  font-weight: normal;

  // vuepress 默认给首页标题添加了一些样式，这里去掉
  -webkit-text-fill-color: #f8f8f8;
  margin: 2rem;
}
div.theme-hope-content blockquote {
  color: #cccccc;
}
