

// html {
//     height: 100%;   // 让网页填充全屏
// }
// body {
//     height: 100%;
//     background-color: #ebe6dd;    // 普通文档的背景色采用米色
//     color: #2c3e50;
//     font-family: 'Consolas', 'Microsoft YaHei', serif;
//     font-size: 16px;
// }

// 导航栏
// body .navbar {
//     background-color: #e0dbd2;
// }
// body .navbar div.links {
//     background-color: #e0dbd2;
// }
// body .navbar div.links .nav-dropdown {
//     background-color: #e0dbd2;
// }

// // 正文部分
// body .page {
//     background-color: #ebe6dd;
// }


// // 侧边栏
// body .sidebar {
//     background-color: #e0dbd2;
// }
// 侧边栏的分组标题（不带链接时）
// body .sidebar-heading {
//     font-weight: normal;
// }
// 侧边栏中的箭头
// .arrow.right {
//     border-left-color: gray;
//     opacity: 0.5;
// }
// .arrow.down {
//     border-left-color: gray;
//     opacity: 0.5;
// }

// // 右侧目录栏
// .right-anchor {
//     opacity: 0.8;
// }


// MarkDown 文档中的表格
body td, th {
    border: 1px solid #a3a3a3;
}
// // MarkDown 文档中的行内代码块
// body .theme-default-content code {
//     background-color: #dcd5ca;
//     color: #2c3e50;
//     font-family: 'Consolas', 'Microsoft YaHei', serif;
// }
// // // MarkDown 文档中的代码块
// // body div[class*="language-"] {
// //     background-color: #3d3d3d;
// // }
// // MarkDown 文档中的代码块
// body div[class*="language-"] pre[class*="language-"] code {
//     color: #d9d9d9;
//     font-family: 'Consolas', 'Microsoft YaHei', serif;
// }


// 自定义首页
// main.home {
//     background-image: url(/cat.gif);
//     background-repeat: no-repeat;
//     background-position: 50% 50%;
// }
// div.homepage_class {
//     background-color: #3d3961;    // 首页的背景色采用紫色
// }
// main.home #homepage_title {
//     color: #f8f8f8;
//     text-align: center;
//     font-family: 'mv boli';
//     font-size: 4em;
//     font-weight: normal;
// }
// main.home div.footer {
//     display: none;
// }
